In [1]:
import os, sys
sys.path.append('../src/')
from copulae1 import *

import requests
import urllib, json

import datetime
import pytz

def convert_datetime_timezone(dt, tz1, tz2):
    # dt: date time string
    # tz1: initial time zone
    # tz2: target time zone
    tz1 = pytz.timezone(tz1)
    tz2 = pytz.timezone(tz2)
    
    if type(dt) == pd.core.series.Series:
        dt = list(pd.to_datetime(dt, "%Y-%m-%d %H:%M:%S"))
        dt = [tz1.localize(d) for d in dt]
        dt = [d.astimezone(tz2) for d in dt]
        return pd.Series(dt)
        
    else:
        dt = datetime.datetime.strptime(dt,"%Y-%m-%d %H:%M:%S")
        dt = tz1.localize(dt)
        dt = dt.astimezone(tz2)
        dt = dt.strftime("%Y-%m-%d %H:%M:%S")
        return dt

## Get and clean CRIX

In [2]:
# Get CRIX as json file
url = "http://data.thecrix.de/data/crix.json"
response = urllib.request.urlopen(url)

CRIX_raw = json.loads(response.read())

CRIX_raw = pd.DataFrame(CRIX_raw)
CRIX_raw.columns = ['Date_UTC', 'CRIX_open'] # rename
CRIX_raw.Date_UTC = pd.to_datetime(CRIX_raw.Date_UTC) # change to datetime
CRIX_raw.Date_UTC = convert_datetime_timezone(CRIX_raw.Date_UTC, "UTC", "UTC") # Add timezone information
CRIX_raw.sort_index(ascending=False, inplace=True) # from new to old
CRIX_raw.reset_index(inplace=True, drop=True)
CRIX_raw.set_index('Date_UTC', inplace=True)
CRIX_raw.to_csv('../data/raw_data/CRIX_raw_20210324.csv') 
CRIX_raw.to_hdf('../data/raw_data/CRIX_raw_20210324.h5', key='CRIX_raw')

In [3]:
# Sanity Check
CRIX_raw = pd.read_hdf('../data/raw_data/CRIX_raw_20210324.h5')
CRIX_raw.head()

                               CRIX_open
Date_UTC
2021-03-23 00:00:00+00:00  153236.658385
2021-03-22 00:00:00+00:00  160800.249284
2021-03-21 00:00:00+00:00  163019.381706
2021-03-20 00:00:00+00:00  161865.217386
2021-03-19 00:00:00+00:00  161113.316266

## Clean CME future
useful link of timezone difference: https://www.worldtimebuddy.com/cst-to-utc-converter

In [21]:
future_raw = pd.read_excel('../data/raw_data/btc_future.xlsx')

# change timezone from Berlin to UTC
future_raw.index = convert_datetime_timezone(future_raw.Date,
                                             "Europe/Berlin", "UTC")

In [22]:
future_Open = future_raw.Open
future_Close = future_raw.Close

# the closing price is retrieved 23 hours after market open
future_Close.index = future_Close.index + datetime.timedelta(hours=23)

In [23]:
future_Open

2021-02-03 23:00:00+00:00    38080.0
2021-02-02 23:00:00+00:00    36360.0
2021-02-01 23:00:00+00:00    34205.0
2021-01-31 23:00:00+00:00    33715.0
2021-01-28 23:00:00+00:00    33995.0
2021-01-27 23:00:00+00:00    31005.0
2021-01-26 23:00:00+00:00    33440.0
2021-01-25 23:00:00+00:00    33100.0
2021-01-24 23:00:00+00:00    32860.0
2021-01-21 23:00:00+00:00    31625.0
2021-01-20 23:00:00+00:00    35925.0
2021-01-19 23:00:00+00:00    37130.0
2021-01-18 23:00:00+00:00    37295.0
2021-01-14 23:00:00+00:00    40070.0
2021-01-13 23:00:00+00:00    38705.0
2021-01-12 23:00:00+00:00    34500.0
2021-01-11 23:00:00+00:00    35900.0
2021-01-10 23:00:00+00:00    39770.0
2021-01-07 23:00:00+00:00    41310.0
2021-01-06 23:00:00+00:00    37710.0
2021-01-05 23:00:00+00:00    35510.0
2021-01-04 23:00:00+00:00    32405.0
2021-01-03 23:00:00+00:00    33525.0
2020-12-30 23:00:00+00:00    29845.0
2020-12-29 23:00:00+00:00    28000.0
2020-12-28 23:00:00+00:00    27605.0
2020-12-27 23:00:00+00:00    27000.0
2020-12-23 23:00:00+00:00    23250.0
2020-12-22 23:00:00+00:00    23495.0
2020-12-21 23:00:00+00:00    23260.0
                              ...
2018-01-28 23:00:00+00:00    11780.0
2018-01-25 23:00:00+00:00    11230.0
2018-01-24 23:00:00+00:00    11260.0
2018-01-23 23:00:00+00:00    11130.0
2018-01-22 23:00:00+00:00    10725.0
2018-01-21 23:00:00+00:00    11420.0
2018-01-18 23:00:00+00:00    11200.0
2018-01-17 23:00:00+00:00    11145.0
2018-01-16 23:00:00+00:00    11200.0
2018-01-15 23:00:00+00:00    13700.0
2018-01-11 23:00:00+00:00    13390.0
2018-01-10 23:00:00+00:00    14780.0
2018-01-09 23:00:00+00:00    14530.0
2018-01-08 23:00:00+00:00    15260.0
2018-01-07 23:00:00+00:00    16415.0
2018-01-04 23:00:00+00:00    15250.0
2018-01-03 23:00:00+00:00    15475.0
2018-01-02 23:00:00+00:00    14930.0
2018-01-01 23:00:00+00:00    13930.0
2017-12-28 23:00:00+00:00    14205.0
2017-12-27 23:00:00+00:00    15515.0
2017-12-26 23:00:00+00:00    16060.0
2017-12-25 23:00:00+00:00    15000.0
2017-12-24 23:00:00+00:00        NaN
2017-12-21 23:00:00+00:00    15695.0
2017-12-20 23:00:00+00:00    16680.0
2017-12-19 23:00:00+00:00    18280.0
2017-12-18 23:00:00+00:00    19300.0
2017-12-17 23:00:00+00:00    20030.0
2017-12-14 23:00:00+00:00    19700.0
Name: Open, Length: 795, dtype: float64

In [71]:
# Strip hours and minutes
future_date = pd.DatetimeIndex(pd.Series([pd.DatetimeIndex(future_Open.index)[i].date() for i in range(len(future_Open))]), tz=pytz.timezone('UTC'))

# Reindex the Opening price to the closest date (backward filling)
future_Open_reindexed = future_Open.reindex(future_date, method='nearest')

In [77]:
def closest_date(dt):
    date1 = dt.date()
    date2 = date1 + datetime.timedelta()
    return date1, date2

In [78]:
closest_date(future_Open.index[0])

TypeError: 'day' is an invalid keyword argument for __new__()

In [73]:
# Sanity Check
future_Open.head()

2021-02-03 23:00:00+00:00    38080.0
2021-02-02 23:00:00+00:00    36360.0
2021-02-01 23:00:00+00:00    34205.0
2021-01-31 23:00:00+00:00    33715.0
2021-01-28 23:00:00+00:00    33995.0
Name: Open, dtype: float64

In [74]:
future_Open_reindexed.head()

2021-02-03 00:00:00+00:00    36360.0
2021-02-02 00:00:00+00:00    34205.0
2021-02-01 00:00:00+00:00    33715.0
2021-01-31 00:00:00+00:00    33715.0
2021-01-28 00:00:00+00:00    31005.0
Name: Open, dtype: float64

In [43]:
# Prepare for merge
future_Open_reindexed = pd.DataFrame(future_Open_reindexed)
future_Open_reindexed.reset_index(inplace=True, drop=True)

CRIX_raw = pd.read_hdf('../data/raw_data/CRIX_raw_20210324.h5')
CRIX_raw.reset_index(inplace=True)

In [44]:
CRIX_future_Open = CRIX_raw.merge(future_Open_reindexed, left_on='Date_UTC', right_on='index')

In [52]:
CRIX_future_Open.columns = ['CRIX_date_UTC', 'CRIX', 'future_date_rounded_to_nearest_UTC', 'future']
CRIX_future_Open.dropna(inplace=True)

In [53]:
CRIX_future_Open

,CRIX_date_UTC,CRIX,future_date_rounded_to_nearest_UTC,future
0,2021-02-03 00:00:00+00:00,98949.179255,2021-02-03 00:00:00+00:00,36360.0
1,2021-02-02 00:00:00+00:00,93210.948461,2021-02-02 00:00:00+00:00,34205.0
2,2021-02-01 00:00:00+00:00,93005.711051,2021-02-01 00:00:00+00:00,33715.0
3,2021-01-31 00:00:00+00:00,95677.076983,2021-01-31 00:00:00+00:00,33715.0
4,2021-01-28 00:00:00+00:00,84530.856368,2021-01-28 00:00:00+00:00,31005.0
5,2021-01-27 00:00:00+00:00,90607.923382,2021-01-27 00:00:00+00:00,33440.0
6,2021-01-26 00:00:00+00:00,90078.347878,2021-01-26 00:00:00+00:00,33100.0
7,2021-01-25 00:00:00+00:00,89986.000973,2021-01-25 00:00:00+00:00,32860.0
8,2021-01-24 00:00:00+00:00,89280.615313,2021-01-24 00:00:00+00:00,32860.0
9,2021-01-21 00:00:00+00:00,98657.775479,2021-01-21 00:00:00+00:00,35925.0
10,2021-01-20 00:00:00+00:00,99988.718220,2021-01-20 00:00:00+00:00,37130.0
11,2021-01-19 00:00:00+00:00,101446.172635,2021-01-19 00:00:00+00:00,37295.0
12,2021-01-18 00:00:00+00:00,99943.650489,2021-01-18 00:00:00+00:00,37295.0
13,2021-01-14 00:00:00+00:00,102794.967372,2021-01-14 00:00:00+00:00,38705.0
14,2021-01-13 00:00:00+00:00,92812.921734,2021-01-13 00:00:00+00:00,34500.0
15,2021-01-12 00:00:00+00:00,97585.210262,2021-01-12 00:00:00+00:00,35900.0
16,2021-01-11 00:00:00+00:00,105401.985159,2021-01-11 00:00:00+00:00,39770.0
17,2021-01-10 00:00:00+00:00,110484.266261,2021-01-10 00:00:00+00:00,39770.0
18,2021-01-07 00:00:00+00:00,100613.589324,2021-01-07 00:00:00+00:00,37710.0
19,2021-01-06 00:00:00+00:00,93500.154743,2021-01-06 00:00:00+00:00,35510.0
20,2021-01-05 00:00:00+00:00,86756.268047,2021-01-05 00:00:00+00:00,32405.0
21,2021-01-04 00:00:00+00:00,90717.675255,2021-01-04 00:00:00+00:00,33525.0
22,2021-01-03 00:00:00+00:00,88038.253852,2021-01-03 00:00:00+00:00,33525.0
23,2020-12-30 00:00:00+00:00,75396.140453,2020-12-30 00:00:00+00:00,28000.0
24,2020-12-29 00:00:00+00:00,74674.550301,2020-12-29 00:00:00+00:00,27605.0
25,2020-12-28 00:00:00+00:00,73451.728519,2020-12-28 00:00:00+00:00,27000.0
26,2020-12-27 00:00:00+00:00,73315.796832,2020-12-27 00:00:00+00:00,27000.0
27,2020-12-23 00:00:00+00:00,67143.132932,2020-12-23 00:00:00+00:00,23495.0
28,2020-12-22 00:00:00+00:00,65029.301846,2020-12-22 00:00:00+00:00,23260.0
29,2020-12-21 00:00:00+00:00,67190.471713,2020-12-21 00:00:00+00:00,23605.0
...,...,...,...,...
763,2018-01-30 00:00:00+00:00,41288.779120,2018-01-30 00:00:00+00:00,11120.0
764,2018-01-29 00:00:00+00:00,41566.846070,2018-01-29 00:00:00+00:00,11780.0
765,2018-01-28 00:00:00+00:00,43686.108550,2018-01-28 00:00:00+00:00,11780.0
766,2018-01-25 00:00:00+00:00,40621.427970,2018-01-25 00:00:00+00:00,11260.0
767,2018-01-24 00:00:00+00:00,40651.450770,2018-01-24 00:00:00+00:00,11130.0
768,2018-01-23 00:00:00+00:00,39023.138630,2018-01-23 00:00:00+00:00,10725.0
769,2018-01-22 00:00:00+00:00,39294.889780,2018-01-22 00:00:00+00:00,11420.0
770,2018-01-21 00:00:00+00:00,41822.082550,2018-01-21 00:00:00+00:00,11420.0
771,2018-01-18 00:00:00+00:00,42348.098150,2018-01-18 00:00:00+00:00,11145.0
772,2018-01-17 00:00:00+00:00,40692.539040,2018-01-17 00:00:00+00:00,11200.0
773,2018-01-16 00:00:00+00:00,40778.268050,2018-01-16 00:00:00+00:00,13700.0
774,2018-01-15 00:00:00+00:00,52535.526030,2018-01-15 00:00:00+00:00,13700.0
775,2018-01-11 00:00:00+00:00,51050.864570,2018-01-11 00:00:00+00:00,14780.0
776,2018-01-10 00:00:00+00:00,56403.975590,2018-01-10 00:00:00+00:00,14530.0
777,2018-01-09 00:00:00+00:00,57166.866020,2018-01-09 00:00:00+00:00,15260.0
778,2018-01-08 00:00:00+00:00,57504.484880,2018-01-08 00:00:00+00:00,16415.0
779,2018-01-07 00:00:00+00:00,62848.823990,2018-01-07 00:00:00+00:00,16415.0
780,2018-01-04 00:00:00+00:00,58500.818300,2018-01-04 00:00:00+00:00,15475.0
781,2018-01-03 00:00:00+00:00,56888.013010,2018-01-03 00:00:00+00:00,14930.0
782,2018-01-02 00:00:00+00:00,51843.042910,2018-01-02 00:00:00+00:00,13930.0
783,2018-01-01 00:00:00+00:00,47588.096810,2018-01-01 00:00:00+00:00,13930.0
784,2017-12-28 00:00:00+00:00,44592.603150,2017-12-28 00:00:00+00:00,15515.0
785,2017-12-27 00:00:00+00:00,47111.284210,2017-12-27 00:00:00+00:00,16060.0
786,2017-12-26 00:00:00+00:00,47440.637910,2017-12-26 00:00:00+00:00,15000.0
789,2017-12-21 00:00:00+00:00,47949.285810,2017-12-21 00:00:00+00:00,16680.0
790,2017-12-20 00:00:00+00:00,48494.255050,2017-12-20 00:00:00+00:00,18280.0
791,2017-12-19 00:00:00+00:00,49205.102960,2017-12-19 00:00:00+00:00,19300.0
792,2017-12-18 00:00:00+00:00,48795.658410,2017-12-18 00:00:00+00:00,20030.0
793,2017-12-17 00:00:00+00:00,46807.971940,2017-12-17 00:00:00+00:00,20030.0
794,2017-12-14 00:00:00+00:00,41990.069910,2017-12-14 00:00:00+00:00,19700.0