In [42]:
import numpy as np
import pandas as pd
from pylab import mpl, plt
plt.style.use('seaborn')
mpl.rcParams['font.family'] = 'serif'
%matplotlib inline

In [59]:
brrfile = '../data/BRR Index.xlsx'
btcfile = '../data/BTC CME Future.xlsx'
crixfile = '../data/crix.json'

In [44]:
brrdata = pd.read_excel(brrfile,  # import csv-data into DataFrame
                   index_col=0, # take first column as index
                   parse_dates=True)  # index values are datetime
btcdata = pd.read_excel(btcfile,  # import csv-data into DataFrame
                   index_col=0, # take first column as index
                   parse_dates=True)  # index values are datetime

In [105]:
d = pd.read_json(crixfile)
crixdata = pd.DataFrame(data=d['price'].values, index=d['date'], columns=['price_crix'])

In [106]:
crixdata.head()

             price_crix
date
2014-07-31  1000.000000
2014-08-01  1018.202717
2014-08-02  1008.772389
2014-08-03  1004.416500
2014-08-04  1004.984138

In [107]:
brrdata.head()

            Last Price  Open Price  High Price  Low Price
Date
2020-09-04    10273.83    10273.83    10273.83   10273.83
2020-09-03    10870.49    10870.49    10870.49   10870.49
2020-09-02    11325.01    11325.01    11325.01   11325.01
2020-09-01    11862.46    11862.46    11862.46   11862.46
2020-08-31    11720.10    11720.10    11720.10   11720.10

In [108]:
brrdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 930 entries, 2020-09-04 to 2018-02-09
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Last Price  930 non-null    float64
 1   Open Price  911 non-null    float64
 2   High Price  911 non-null    float64
 3   Low Price   911 non-null    float64
dtypes: float64(4)
memory usage: 76.3 KB

In [109]:
btcdata.head()

,Last Price,Open Price,High Price,Low Price,BTC1 Curncy - Volume
Date,,,,,
2020-09-04,10480,10730.0,10740.0,10355.0,13711.0
2020-09-03,10720,11710.0,11710.0,10840.0,15412.0
2020-09-02,11460,12405.0,12405.0,11530.0,17210.0
2020-09-01,12075,12050.0,12450.0,12050.0,8919.0
2020-08-31,11835,11735.0,11915.0,11705.0,4865.0

In [110]:
btcdata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 686 entries, 2020-09-04 to 2017-12-15
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Last Price            686 non-null    int64
 1   Open Price            683 non-null    float64
 2   High Price            683 non-null    float64
 3   Low Price             683 non-null    float64
 4   BTC1 Curncy - Volume  683 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 52.2 KB

In [111]:
data = btcdata.join(brrdata,lsuffix='_btc', rsuffix='_brr', how='inner')
data = data.join(crixdata, how='inner')

In [112]:
data.head()

,Last Price_btc,Open Price_btc,High Price_btc,Low Price_btc,BTC1 Curncy - Volume,Last Price_brr,Open Price_brr,High Price_brr,Low Price_brr,price_crix
2020-09-04,10480,10730.0,10740.0,10355.0,13711.0,10273.83,10273.83,10273.83,10273.83,29614.314902
2020-09-03,10720,11710.0,11710.0,10840.0,15412.0,10870.49,10870.49,10870.49,10870.49,33049.664458
2020-09-02,11460,12405.0,12405.0,11530.0,17210.0,11325.01,11325.01,11325.01,11325.01,34623.237089
2020-09-01,12075,12050.0,12450.0,12050.0,8919.0,11862.46,11862.46,11862.46,11862.46,33833.920615
2020-08-31,11835,11735.0,11915.0,11705.0,4865.0,11720.10,11720.10,11720.10,11720.10,33882.473739

In [113]:
data['return_btc'] = np.log(data['Last Price_btc']/data['Last Price_btc'].shift(-1))
data['return_brr'] = np.log(data['Last Price_brr']/data['Last Price_brr'].shift(-1))
data['return_crix'] = np.log(data['price_crix']/data['price_crix'].shift(-1))

In [114]:
data.head()

,Last Price_btc,Open Price_btc,High Price_btc,Low Price_btc,BTC1 Curncy - Volume,Last Price_brr,Open Price_brr,High Price_brr,Low Price_brr,price_crix,return_btc,return_brr,return_crix
2020-09-04,10480,10730.0,10740.0,10355.0,13711.0,10273.83,10273.83,10273.83,10273.83,29614.314902,-0.022642,-0.056452,-0.109754
2020-09-03,10720,11710.0,11710.0,10840.0,15412.0,10870.49,10870.49,10870.49,10870.49,33049.664458,-0.066752,-0.040962,-0.046514
2020-09-02,11460,12405.0,12405.0,11530.0,17210.0,11325.01,11325.01,11325.01,11325.01,34623.237089,-0.052274,-0.046365,0.023061
2020-09-01,12075,12050.0,12450.0,12050.0,8919.0,11862.46,11862.46,11862.46,11862.46,33833.920615,0.020076,0.012073,-0.001434
2020-08-31,11835,11735.0,11915.0,11705.0,4865.0,11720.10,11720.10,11720.10,11720.10,33882.473739,0.017473,0.023398,0.033484

In [115]:
data.dropna(inplace=True)

In [116]:
np.corrcoef(data['return_brr'], data['return_btc'])

array([[1.        , 0.78828599],
       [0.78828599, 1.        ]])

In [121]:
np.corrcoef(data['return_brr'], data['return_crix'])

array([[1.        , 0.54782409],
       [0.54782409, 1.        ]])

In [122]:
np.corrcoef(data['return_btc'], data['return_crix'])

array([[1.        , 0.28688812],
       [0.28688812, 1.        ]])